# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache

# Next.js build output
.next
out

# Vercel
.vercel

# Production
build
dist

# Misc
.DS_Store
*.pem
.env*
.env.*
next-env.d.ts
*.tsbuildinfo

# Yarn Plug’n’Play
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Prisma generated
/src/generated/prisma
